# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore book examples
examples/

# Ignore data
data/

# Ignore output
*.gif
*.out
*.svg
*.jpg
*.png

# Ignore binaries
*.a
*.so
*.o
book-TheGoProgrammingLanguage/ch04/4.12/data.json
